body {
  margin:0;
  background:skyblue;
}

.container {
  padding:32px;
}

.messages {
  margin:0;
  padding:0;
  list-style:none;
}

.messages li {
  display:flex;
}

.messages li + li {
  /* messagesの下の二つ目のli要素 */
  margin-top:32px;
}

.pic img {
  width:48px;
  height:48px;
  border-radius:50%;
}

.text {
  background:#fff;
  border-radius:8px;
  padding:16px 24px;
  max-width:60%;
  line-height:1.8;
  position:relative;
}

.text::before {
  content:'';
    /* テキスト要素の前に置く内容 */
  width:0;
  height:0;
  /* border:8px solid #fff; */
  border:8px solid transparent;
  /* transparent 透明 */
  position:absolute;
}

.left-side .text::before {
  top:12px;
  /* 上から12px */
  left:-16px;
  /* 左側16pxに飛び出す */
  border-right-color:#fff;
}

.right-side .text::before {
  top:12px;
  /* 上から12px */
  right:-16px;
  /* 左側16pxに飛び出す */
  border-left-color:#fff;
}

li.right-side {
  flex-direction:row-reverse;
  /* 順番を逆にする */
}

.pic {
  /* background:pink; */
  width:80px;
  text-align:center;
}

.box {
  width:0px;
  height:0px;
  border:40px solid black;
  border-right-color:red;
  /* 吹き出しの三角形を作る */
}

