body {
  margin:0;
  background:skyblue;
}

.container {
  padding:32px;
}

.messages {
  margin:0;
  padding:0;
  list-style:none;
}

.messages li {
  display:flex;
}

.messages li + li {
  /* messagesの下の二つ目のli要素 */
  margin-top:32px;
}

.pic img {
  width:48px;
  height:48px;
  border-radius:50%;
}

.text {
  background:#fff;
  border-radius:8px;
  padding:16px 24px;
  max-width:60%;
  line-height:1.8;
}


li.right-side {
  flex-direction:row-reverse;
  /* 順番を逆にする */
}

.pic {
  /* background:pink; */
  width:80px;
  text-align:center;
}
